* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1831;
    /*background-image: url('img/background.jpg');*/
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    padding-top: 4rem;
    gap: 1rem;
    padding-bottom: 2rem;
}

.my-logo {
    width: 12rem;
    border-radius: 50%;
    object-position: center;
    filter: drop-shadow(rgba(0, 0, 0, 0.918));
}

a {
    text-decoration: none;
    color: inherit;
}

.sosmed {
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.sosmed a:not(:last-child) {
    margin-right: 1rem;
}

.link-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #353535;
    padding: 1rem;
    border-radius: 20px;
    width: 50%;
    max-width: 25rem;
    box-shadow: 8px 10px 5px black;
    border: 2px solid rgb(136, 136, 136);
}

.link-card:hover {
    border: 2px solid rgb(255, 255, 255);
}

.link-icon {
    background-color: #1a1a1a;
    padding: 0.5rem;
    border-radius: 10px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-action {
    color: #c5c5d6;
    cursor: pointer;
}

.link-text {
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.copyright {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #ffffff;
    font-size: 0.75rem;
}

/* Popup */
.popup {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;

    transition: all .3s;
}

.popup_content {
    display: inline-block;
    text-align: center;
    background-color: #212438;
    box-shadow: 0 20px 40px rgb(0, 0, 0, .82);
    border-radius: 25px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.25);
    opacity: 0;

    transition: all .5s .1s;
}

.popup_header {
    text-align: center;
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 30px;
}

.popup_header h1 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    /*text-transform: uppercase;*/
}

.popup_header h2 {
    font-size: 25px;
}

.popup_text p {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 35px;
    word-wrap: break-word;
    text-indent: 50px;
    line-height: 1.2;
}

#popup:target {
    opacity: 1;
    visibility: visible;
}

#popup:target .popup_content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup-close:link, .popup_close:visited {
    color: rgb(255, 255, 255);
    display: inline-block;
    transition: all .3s;
}

.popup-close:hover, .popup_close:active {
    color: black;
}

.popup_close i {
    position: absolute;
    margin-top: 11px;
    margin-right: 10px;
    top: 0;
    right: 10px;
    cursor: pointer;
}

/* Portfolio */
.port_header {
    text-align: center;
    color: #ffffff;
    margin-top: 2px;
    margin-bottom: 10px; 
    display: flex;
    flex-wrap: wrap;
}

.port_header h1 {
    font-size: 50px;
    margin-top: 2px;
    margin-bottom: 10px;
}

 .portfolio {
    border-radius: 48px;
    width: 67rem;
    height: 43rem;
    position: relative;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
 }

 .portfolio img {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    flex-shrink: 0;
    object-fit: cover;
    scroll-snap-align: start;
 }

 .link-sosmed {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 0;
    justify-content: center;
    list-style: none;
 }

 .link-sosmed a {
    font-size: 1rem;
    font-weight: bold;
 }

 .link-sosmed a:not(:last-child) {
    margin-right: 1rem;
}


 /*Contact*/
 body {
    font-family: Arial, Helvetica, sans-serif;
}

.form-box {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 25px;
    box-shadow: 2px 2px 4px rgba(7, 7, 7, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}
form h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;

}

input, textarea {
    padding: 8px;
    border: #ffffff;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
